doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="Ceao! This will be an amazing login/register form made by senior Alex Puiu!")
        link(rel="stylesheet", href="style.css")
        title Login form
    body
        .background-image
        .form
            .form__wrapper
                .avatar
                    img.form__avatar(src="asset/image/img_avatar.png", alt="avatar")
                p.bold Username
                input.form__username(type="text", placeholder="Enter username")
                p.bold Password
                input.form__password(type="password", placeholder="Enter password")
                button.form__button-login(type="button") Login
                input.form__input-remember(type="checkbox", id="remember")
                label.form__label-remember(for="remember") Rememeber me
                button.form__button-cancel(type="button") Cancel