doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="Ceao! This will be an amazing login/register form made by senior Alex Puiu!")
        link(rel="stylesheet", href="style.css")
        title Login form
    body
        h1 Ceao! This will be an amazing login/register form made by senior Alex Puiu!