@import '_component/config/reset';

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
}

.form__wrapper {
    background-color: lightskyblue;
    width: 100%;
    padding: 1rem 0.5rem;
    margin: 0 3rem;
    opacity: 0.95;
}

.avatar {
    width: 100%;
    text-align: center;
}

.form__avatar {
    width: 150px;
    border-radius: 50%;
}

.bold {
    font-weight: bold;
    padding: 0.5rem 0;
    font-size: 1.3rem;
}

.background-image {
    background-image: url('asset/image/transfagarasan.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.form__button-login {
    display: block;
    margin: 1rem 0 0 0;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: 0;
    padding: 0.3rem;
    width: 100%;
    transition: 0.25s;

    &:hover {
        color: black;
        background-color: lightgray;
    }
}

.form__username,
.form__password {
    width: 100%;
    padding: 0.4rem;
}

.form__input-remember {
    margin-top: 1rem;
}

.form__label-remember {
    font-size: 0.9rem;
}

.form__button-cancel {
    display: block;
    margin-top: 1rem;
    padding: 0.65rem;
    font-size: 1.1rem;
    background-color: #f44336!important;
    color: white;
    border: 0;
    transition: 0.20s;

    &:hover {
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5); 
    }
}

.display__flex {
    display: flex;
    justify-content: space-between;
    margin-top: -0.8rem;
}

hr {
    opacity: 0.8;
}

.form__forgot-password {
    margin-top: 1.9rem;
    color: black;
    text-decoration: underline;
    transition: 0.10s;

    &:hover {
        color: #4CAF50;
    }
}

@media screen and (min-width: 768px) {
    .form__wrapper {
        margin: 0 9rem;
    }

    .form__avatar {
        width: 170px;
    }
}

@media screen and (min-width: 1281px) {
    .form__wrapper {
        margin: 0 24rem;
    }

    .form__avatar {
        width: 190px;
    }
}